//base stylesheet is for general, basic styles

@import url('http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic');

@import url('http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic');

@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');



//Breakpoints ---------------------------------------------------

@mixin breakpoint($point) {

  @if $point == papa-bear {
    @media only screen and (max-width: 1600px) { @content; }
  }
    @else if $point == uncle-bear {
    @media only screen and (max-width: 960px)  { @content; }
  }  
    @else if $point == mama-bear {
    @media only screen and (max-width: 900px)  { @content; }
  }
    @else if $point == teen-bear {
    @media only screen and (max-width: 860px)  { @content; }
  }
  	@else if $point == baby-bear {
    @media only screen and (max-width: 500px)  { @content; }
  }
}

//Basic Styles ---------------------------------------------------

body {
	background-color: $bggrey;
}

p {
	font: 400 1.25em $sans;
	line-height: 1.25;
	color: white;
	margin-bottom: 1.25em;
}

a {
		  -webkit-transition: -webkit-color 300ms ease-out;
		  -moz-transition: -moz-color 300ms ease-out;
		  -ms-transition: -ms-color 300ms ease-out;
		  -o-transition: -o-color 300ms ease-out;
		  transition: color 300ms ease-out;
}

h1 {
	font: italic 700 2.25em $serif, serif;
	text-align: center;
	color: white;
}

.panel h1 {
	margin-bottom: 50px;
	text-align: center;
}

h2 {
	font: 700 1.75em $sans, sans-serif;
	text-transform: uppercase;
	margin-bottom: 1.5625em;

}

h3 {
	font: 900 1.3125em $serif, serif;
	text-transform: uppercase;
	color: $grey;
}

h4 {
	font: 700 1.125em $sans, sans-serif;
	text-transform: uppercase;
	margin-bottom: 1.25rem;
	color: white;
}

h5 {
	font: italic 400 1em $sans, sans-serif;
	margin-bottom: 1.25rem;
}

.divider {
	border-top: solid 1px #CCCCCC;
    clear: both;
    height: .5px;
    width: 100%; 
}

.fa {
	margin-right: .5em;
}


//Panel Styles ---------------------------------------------------
.panel {
	background-color: $grey;
	border: none;
	border-radius: 7px;
	margin: 1em 0;
}

.panel ul {
	list-style-type: none;
	margin: 0;
}

.panel p {
	margin-bottom: 0;
}
.panel .divider {
	    margin: .5em 0;
}
