.contain-to-grid {
	  width: 100%;
	  background: $green; 
	  color: white;
  }

  
  .contain-to-grid .top-bar {
    margin-bottom: 0; 
   }

// HEADER //
.top-section {
	height: 150px; 
	background: 
    /* top, transparent grey, faked with gradient */ 
    linear-gradient(
      $transparentgrey, 
      $transparentgrey
    ),
    /* bottom, image */
    url(../img/log.jpg);
	background-size:cover;
}

.header {
	padding: 1px;
	max-height: 210px;
}

.logo {
	img {
	max-width: 250px; 
	margin-top: 1em;
	}
	display: inline;
}

.sign-top {
	background: url(../img/signtop.png);
	background-repeat: no-repeat;
	width: 202px;
	height: 94px;
	-webkit-transition: -webkit-background 300ms ease-out;
	-moz-transition: -moz-background 300ms ease-out;
	-ms-transition: -ms-background 300ms ease-out;
	-o-transition: -o-background 300ms ease-out;
	transition: background 300ms ease-out;
	&:hover {
		background: url(../img/sign-dcfair.png);
	}
}
.sign-bottom {
	background: url(../img/signbottom.png);
	background-repeat: no-repeat;
	width: 202px;
	height: 45px;
	-webkit-transition: -webkit-background 300ms ease-out;
	-moz-transition: -moz-background 300ms ease-out;
	-ms-transition: -ms-background 300ms ease-out;
	-o-transition: -o-background 300ms ease-out;
	transition: background 300ms ease-out;
	&:hover {
		background: url(../img/sign-sponsors.png);
	}
}
.top-bar {
	height: 60px;
	background: rgba(0, 0, 0, 0);

	
}


// JUMBOTRON //
.jumbotron {
	margin: 2em auto;	
	max-width: 1200px;
	
	  ul {
	  	max-height: 400px;
	  
		li { 
		  display: block; 
		  position: relative; 
		  float: left; 
		  overflow: hidden; 
		  
		  &:hover figcaption {
			  opacity: 1;
		  }
		}
		
		  h2 {
			font-size: 35px;
			font-weight: 500; 
		   	padding: 90% 5% 0 5%;
		   	margin: 0;
		   	max-width: 400px;
		  }
		  
		
			figcaption { 
				bottom: 0; 
				left: -30%;
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
				transform-origin: right top 0;
				position: absolute; 
				background: rgba(0,0,0,0.5); 
				margin: 0 0 2px 0;
				color: white; 
				padding: -20px  -20px; 
				opacity: 0;
				width: 100%;
				height: 100%;
				-webkit-transition: all 0.6s ease;
				-moz-transition:    all 0.6s ease;
				-o-transition:      all 0.6s ease;
				-ms-transition:		all 0.6s ease;
			}
		}
	
}

.cap-left:hover figcaption { left: 0; }

// HERO //
.hero {
	text-align: center;
	color: white;
	padding: 2em 0;
	margin: 1em 0;
	h1 {
		color: white;
	}
	p {
		max-width: 1000px;
		margin: 0 auto 10px auto;
		line-height: 1.25;

	}
	.panel {
		background-color: white;
	}
}

// CALENDAR //
.cal {
	.panel {
		background-color: white;
		
		ul {
		  column-count: 2;
		  column-gap: 0;
		  width: 990px;
		}
		li {
			display: inline-block;
			width: 450px;
		}
		#calendarEvents {
			margin-bottom: 1rem;
			.entry {
				border-bottom: solid 1px grey;
				margin: 0 1rem 2rem 1rem;
				p {
					font-size: 1em;
					margin-bottom: 1rem
				}
				h2 {
					font: italic 700 1.3125em $sans, sans-serif;
					color: $green;
					text-transform: none;
					margin-bottom: .25rem;
				}
				h3 {
					
					display: inline; 
					margin-top: 10px;
					text-transform: uppercase;
					font: 700 1.125em $sans, sans-serif;
					color: $transparentgrey;
				}
				.location {
					font-size: 1em;
					color: $grey;
					font-size: 16px;
				}

			} // END .ENTRY
		} // END #calendarEvents
	} // END .PANEL

	.my-button {
		margin: 0 auto;
		text-align: center;
	}
} // END .CAL



// FOOTER //
.sponsors {
	padding: 2em 0;
	background-color: $lightgrey;
	color:white;
	text-align: center;
	
	img {
		max-width: 200px;
	}
	a {
		color:white;
	}
}


#footer {
	padding: 2em 0;
	 a {
		  color: white;
		  border-bottom: solid 1px $darkgreen;
		  -webkit-transition: -webkit-color 300ms ease-out;
		  -moz-transition: -moz-color 300ms ease-out;
		  -ms-transition: -ms-color 300ms ease-out;
		  -o-transition: -o-color 300ms ease-out;
		  transition: color 300ms ease-out;
		  &:hover {
			  color: $darkgreen;
		  }
	}


	p {
		margin-bottom: 0;
		
		a {
			color: white;
		}
	}
	ul {
		list-style-type: none;
		margin: 0;
	}


}

#footer .divider {
	    margin: .5em 0;

}

#copyright {
	background: 
    /* top, transparent grey, faked with gradient */ 
    linear-gradient(
      $transparentgrey, 
      $transparentgrey
    ),
    /* bottom, image */
    url(../img/treeline.jpg);
	background-size:cover;
	padding: 1em 0;
	font-size: .875em;
	margin-bottom: 0;
}

/////////////////////// EVENT PAGES ///////////////////////

.main-copy {
	color: $grey;
	h1 {
		color: $grey;
	}
	h3 {
		color: $grey;
	}
	p {
		color: $grey;
	}

}


.sidebar, .vendor {
	text-align: left;
	color: white;
	h1 {
		color: white;
	}
	p {
		max-width: 1000px;
		margin: 0 auto 10px auto;
		line-height: 1.25;

	}
	.panel {
		background-color: white;
	}
}
