.contain-to-grid {
	  width: 100%;
	  background: $green; 
	  color: white;
  }

  
  .contain-to-grid .top-bar {
    margin-bottom: 0;
   }

// HEADER //
.top {
	background-color: $grey;

}

.top-section {
	height: 150px; 
	margin-top: -20px;
	background: 
    /* top, transparent grey, faked with gradient */ 
    linear-gradient(
      rgba(8,13,19,0.6), 
      rgba(8,13,19,0.6)
    ),
    /* bottom, image */
    url(../img/log-3.jpg);
	background-size:cover;
	  overflow: hidden;

}

.top-bar-section ul li > a {
	font: 700 1em $sans;
	color:white;
	text-transform: uppercase;
}
.top-bar-section .dropdown li a {
	font-weight: 700;
}


.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: $darkgreen;
}
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
	background: $darkgreen;
}


.top-bar-section ul li:hover:not(.has-form) > a {
	background-color: $darkgreen;
	background: $darkgreen;
	color: white; 
}


.header {
    max-width: 62.5rem;
	padding: 0 10px;
	max-height: 210px;
	margin: 0 auto;
}

.logo {
	img {
		max-width: 250px; 
		margin-top: 1em;
		@include breakpoint(baby-bear){
			margin-top: 1rem;
		}
	}
	display: inline;
	@include breakpoint(baby-bear){
		display: block;
	}
}

.sign-top {
	background: url(../img/signtop.png);
	background-repeat: no-repeat;
	width: 202px;
	height: 94px;
	margin-top: 0;
	-webkit-transition: -webkit-background 300ms ease-out;
	-moz-transition: -moz-background 300ms ease-out;
	-ms-transition: -ms-background 300ms ease-out;
	-o-transition: -o-background 300ms ease-out;
	transition: background 300ms ease-out;
	&:hover {
		background: url(../img/sign-dcfair.png);
	}
	@include breakpoint(baby-bear){
		display: none;
	}
}
.sign-bottom {
	background: url(../img/signbottom.png);
	background-repeat: no-repeat;
	width: 202px;
	height: 45px;
	-webkit-transition: -webkit-background 300ms ease-out;
	-moz-transition: -moz-background 300ms ease-out;
	-ms-transition: -ms-background 300ms ease-out;
	-o-transition: -o-background 300ms ease-out;
	transition: background 300ms ease-out;
	&:hover {
		background: url(../img/sign-sponsors.png);
	}
	@include breakpoint(baby-bear){
		display: none;
	}
}

.top-bar {
	background: rgba(0, 0, 0, 0);

	
}


// JUMBOTRON & Thumbs // 

.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  overflow: hidden;
  max-width: 236px;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
	display: block;
	position: absolute;
	z-index: 20;
	background: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	@include breakpoint(mama-bear){
		display: none;
	}
	@include breakpoint(teen-bear){
		display: none;
	}
	@include breakpoint(baby-bear){
		display: none;
	}
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 200px;
  height: 60px;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 25px;

}


#effect-3 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
}
#effect-3 .overlay a.expand {
  top: 0;
  bottom: 0;
  left: 20%;
  margin: auto 0 auto -30px;
}
#effect-3 .img.hover .overlay {
  width: 100%;
}


.jumbotron {
	margin: 2em auto;	
	max-width: 1200px;
	overflow: hidden;
	
	h1 {
		text-align: center;
		font-size: 38px;
		margin-top: -20px;
		line-height: 1;
		-webkit-transition: -webkit-color 300ms ease-out;
		-moz-transition: -moz-color 300ms ease-out;
		-ms-transition: -ms-color 300ms ease-out;
		-o-transition: -o-color 300ms ease-out;
		transition: color 300ms ease-out;
		&:hover {
			color: $lightgrey;
		}
	}
}

// HERO //
.hero {
	text-align: center;
	color: white;
	padding: 2em 0;
	margin: 1em 0;
	background: 
    /* top, transparent grey, faked with gradient */ 
    linear-gradient(
      $transparentgreen, 
      $transparentgreen
    ),
    /* bottom, image */
    url(../img/wood.jpg);
	background-size:cover;
	h1 {
		color: white;
	}
	p {
		max-width: 800px;
		margin: 0 auto 10px auto;
		line-height: 1.25;

	}
	.panel {
		background-color: white;
	}
}

// CALENDAR SECTION //
.cal {
	.panel {
		background-color: white;
		
		ul {
		  column-count: 2;
		  column-gap: 0;
		  width: 990px;
		}
		li {
			display: inline-block;
			width: 450px;
		}
		#calendarEvents {
			margin-bottom: 1rem;
			.entry {
				border-bottom: solid 1px #dddddd;
				margin: 0 1rem 2rem 1rem;
				p {
					font-size: 1em;
					margin-bottom: 1rem
				}
				h2 {
					font: italic 700 1.3125em $sans, sans-serif;
					color: $green;
					text-transform: none;
					margin-bottom: .25rem;
				}
				h3 {
					
					display: inline; 
					margin-top: 10px;
					text-transform: uppercase;
					font: 700 1.125em $sans, sans-serif;
					color: $transparentgrey;
				}
				.location {
					font-size: 1em;
					color: $grey;
					font-size: 16px;
				}

			} // END .ENTRY
		} // END #calendarEvents
	} // END .PANEL


} // END .CAL

.my-button {
	margin: 0 auto;
	text-align: center;
}

// FOOTER //
.sponsors {
	padding: 2em 0;
	background-color: $lightgrey;
	color: white;
	text-align: center;


	a {
		-webkit-transition: -webkit-opacity 300ms ease-out;
		-moz-transition: -moz-opacity 300ms ease-out;
		-ms-transition: -ms-opacity 300ms ease-out;
		-o-transition: -o-opacity 300ms ease-out;
		transition: opacity 300ms ease-out;
		&:hover {
			 opacity: 0.8;
			 filter: alpha(opacity=40); /* For IE8 and earlier */
		}
	}
	img {
		max-width: 150px;
	}
	a {
		color:white;
	}
}


#footer {
	padding: 2em 0;

		 a {
			  color: white;
			  border-bottom: solid 1px $darkgreen;
			  -webkit-transition: -webkit-color 300ms ease-out;
			  -moz-transition: -moz-color 300ms ease-out;
			  -ms-transition: -ms-color 300ms ease-out;
			  -o-transition: -o-color 300ms ease-out;
			  transition: color 300ms ease-out;
			  &:hover {
				  color: $darkgreen;
			  }


	}
	ul {
		list-style-type: none;
		margin: 0;
	}


}

#footer .divider {
	    margin: .5em 0;

}

#copyright {
	background: 
    /* top, transparent grey, faked with gradient */ 
    linear-gradient(
      $transparentgrey, 
      $transparentgrey
    ),
    /* bottom, image */
    url(../img/treeline.jpg);
	background-size:cover;
	padding: 1em 0;
	font-size: .875em;
	margin-bottom: 0;
	p {
		margin-bottom: 0;

	}
}

/////////////////////// GATEWAY PAGE ///////////////////////
.page-wrapper {
	width: 100%;
	height: 100%;
	display: block;
	background: url(../img/gateway-bg.jpg) no-repeat;
	background-size:cover;
	background-color: $green;
}

#gateway {
	text-align: center;
	max-width: 723px;
	padding: 0;
	margin: 0 auto;
	height: 100%;


	
	.dcfair {
		width: 100%;
		height: 50%;
		margin: 0 auto;
		background: url(../img/dcfair.png) no-repeat center bottom;
		  -webkit-transition: -webkit-opacity 300ms ease-out;
		  -moz-transition: -moz-opacity 300ms ease-out;
		  -ms-transition: -ms-opacity 300ms ease-out;
		  -o-transition: -o-opacity 300ms ease-out;
		  transition: opacity 300ms ease-out;
		&:hover {	
			 opacity: 0.8;
			 filter: alpha(opacity=40); /* For IE8 and earlier */
		}
	}
	
	.grounds {
		width: 100%;
		height: 50%;
		margin: 0 auto;
		background: url(../img/grounds.png) no-repeat center top;
		  -webkit-transition: -webkit-opacity 300ms ease-out;
		  -moz-transition: -moz-opacity 300ms ease-out;
		  -ms-transition: -ms-opacity 300ms ease-out;
		  -o-transition: -o-opacity 300ms ease-out;
		  transition: opacity 300ms ease-out;
		&:hover {
			opacity: 0.8;
			filter: alpha(opacity=40); /* For IE8 and earlier */	
		}
	}

}




/////////////////////// INTERNAL PAGES ///////////////////////

.main-copy {
	color: $grey;
	h1 {
		color: $grey;
		text-align: left;

	}
	h2 {
		margin-bottom: 0;
	}
	h3 {
		color: $grey;
	}
	h4 {
		color:$lightgrey;
	}
	p {
		color: $grey;
	}
	img {
		margin: 1em 0;
	}
	p {
		a {

			color: $darkgreen;
			-webkit-transition: -webkit-color 300ms ease-out;
			-moz-transition: -moz-color 300ms ease-out;
			-ms-transition: -ms-color 300ms ease-out;
			-o-transition: -o-color 300ms ease-out;
			transition: color 300ms ease-out;
			&:hover {
				color: $green;
			}
			.button {
				color: white;
			}
		}

	}

}


.sidebar, .vendor {
	text-align: left;
	color: white;
	h1 {
		color: white;
	}
	p {
		max-width: 1000px;
		margin: 0 auto 10px auto;
		line-height: 1.25;

	}
	.panel {
		background-color: white;
	}
	a {
		img {
			-webkit-transition: -webkit-opacity 300ms ease-out;
			-moz-transition: -moz-opacity 300ms ease-out;
			-ms-transition: -ms-opacity 300ms ease-out;
			-o-transition: -o-opacity 300ms ease-out;
			transition: opacity 300ms ease-out;
			&:hover {
				 opacity: 0.8;
				 filter: alpha(opacity=40); /* For IE8 and earlier */
			}
		}
	}
}


/////////////////////// CALENDAR PAGE ///////////////////////

.my-calendar {
	background-color: white;
	padding: 2em .5em;
}

	
/////////////////////// Mission PAGE ///////////////////////
.single-column {
	max-width: 700px;
	margin: 0 auto 3em auto;
}

iframe {
	width: 100%;
}

/////////////////////// SPONSORS PAGE ///////////////////////
.sponsors-page {
	.panel {
		h4 {
			color: white;
			text-align: center;
		}		
	}
	
	h4 {
		text-align: center;
	}
	a {
		img {
			max-width: 150px;
			-webkit-transition: -webkit-opacity 300ms ease-out;
			-moz-transition: -moz-opacity 300ms ease-out;
			-ms-transition: -ms-opacity 300ms ease-out;
			-o-transition: -o-opacity 300ms ease-out;
			transition: opacity 300ms ease-out;
			&:hover {
				 opacity: 0.8;
				 filter: alpha(opacity=40); /* For IE8 and earlier */ 
			}
		}
	}

}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media only screen and (max-width: 1100px) {
  .effects {
    padding-left: 5px;
  }

  .effects .img:nth-child(n) {
    margin-right: 5px;
  }
  .effects .img:first-child {
    margin-left: 0;
  }
  .effects .img:nth-child(2n-1) {
    margin-left: -5px;
  }
  .effects .img:nth-child(2n) {
    margin-right: 0;
  }
  .effects .img:last-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 520px) {
  .effects .img {
    width: 100%;
  }
  .effects .img:nth-child(n) {
    margin-right: 0;
  }
  .effects .img:first-child {
    margin-left: 0;
  }
  .effects .img:nth-child(2n-1) {
    margin-left: 0;
  }
  .effects .img:nth-child(2n) {
    margin-right: 0;
  }
  .effects .img:last-child {
    margin-right: 0;
  }
  .effects .img img {
    margin: 0 auto;
  }
}