$color-primary: #ffa894;
//$color-secondary: #ff0000;
$typog: #3A3A3A;
$typog2: #7d7d7d;
$typog-link: #4C4C4C;

$lightest: #E7E7E7;

$font-primary: "adelle", serif;
$font-secondary: "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;

$default-border-radius: 5px;