$green: #abc069;
$lightgreen: #c5d29c;
$palegreen: #c3d395;
$darkgreen: #879556;
$grey: #585c62;
$transparentgrey: rgba(8,13,19,0.5);
$lightgrey: #707376;
$bggrey: #f3f3f5;


$serif: 'Playfair Display', serif;
$sans: 'Quattrocento Sans', sans-serif;

$default-border-radius: 7px;

.thing {
	color: #707376;
}