@import url("http://fonts.googleapis.com/css?family=Patua+One");
@import url("http://fonts.googleapis.com/css?family=Sancreek");
h1 {
  font: 400 2.1875em "Sancreek", serif;
  color: #ef4f1f; }

h2 {
  font: 400 1.5em "Patua One", serif;
  text-transform: uppercase;
  color: #ef4f1f; }

h4 {
  font: 400 1.12em "Patua One", serif;
  letter-spacing: 1px; }

p a {
  color: #ef4f1f; }
  p a:hover {
    color: #cc5029; }

.sidebar .panel h4 {
  font: 400 1.12em "Patua One", serif;
  letter-spacing: 1px;
  color: #ef4f1f; }
.sidebar .panel a {
  color: #22988c; }
  .sidebar .panel a:hover {
    color: #104a43; }

.panel {
  background-color: #136860; }
  .panel h2 {
    color: #ef4f1f;
    letter-spacing: 2px; }
  .panel h4 {
    color: #ef4f1f; }
  .panel p {
    color: white;
    margin-bottom: .5em; }

button.alert, .button.alert {
  background-color: #ef4f1f;
  margin-top: .5em; }
  button.alert:hover, .button.alert:hover {
    background-color: #cc5029; }

.button {
  margin: 1em 0; }

table {
  margin: 1em 0; }
  table p {
    margin-bottom: 0; }
  table td span {
    color: #707376; }

.contain-to-grid {
  background: #136860; }

.top-section {
  height: 200px;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/bg.jpg);
  background-size: cover; }
  .top-section .logo img {
    max-width: 300px; }

.sign-top {
  background: url(../img/signtop-complex.png);
  background-repeat: no-repeat;
  width: 202px;
  height: 94px;
  margin-top: 0;
  -webkit-transition: -webkit-background 300ms ease-out;
  -moz-transition: -moz-background 300ms ease-out;
  -ms-transition: -ms-background 300ms ease-out;
  -o-transition: -o-background 300ms ease-out;
  transition: background 300ms ease-out; }
  .sign-top:hover {
    background: url(../img/signtop-complex-green.png); }
  @media only screen and (max-width: 500px) {
    .sign-top {
      display: none; } }

.top-bar-section .dropdown li a {
  font-weight: 400; }

.top-bar-section ul li > a {
  font: 400 1em "Patua One", serif;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  background: #136860; }

.top-bar.expanded .title-area {
  background: #136860; }

.top-bar-section ul li {
  background: #136860; }

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #136860; }

.no-js .top-bar-section ul li:hover > a {
  background: #136860; }

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background: #136860; }

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #104a43; }

.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
  background: #104a43; }

.top-bar-section ul li > a.button.alert {
  background-color: #ef4f1f;
  margin-top: 1px; }
  .top-bar-section ul li > a.button.alert:hover {
    background-color: #cc5029; }

.slider {
  margin: 2rem auto;
  max-width: 1200px; }

.owl-wrapper {
  max-height: 400px;
  margin: 0 auto; }

.owl-carousel {
  text-align: left;
  margin: 2rem 0;
  max-height: 430px; }

.owl-wrapper-outer {
  max-height: 400px; }

#owl-demo1 img {
  width: 100%; }

#owl-demo2 .item {
  padding: 5px 0px;
  margin: 5px; }

.slider {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }

.slider-copy {
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding: 1em 3em;
  color: white;
  background: rgba(0, 0, 0, 0.4); }

.type-wrapper {
  max-width: 62.5em;
  margin: 0 auto; }

.slider-copy h3 {
  color: white; }

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  z-index: 1;
  color: #212121;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 40px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 30px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.2; }
  @media only screen and (max-width: 860px) {
    .owl-theme .owl-controls .owl-buttons div {
      display: none; } }

@media only screen and (max-width: 860px) {
  .owl-buttons {
    display: none; } }

.owl-next {
  top: 40%;
  right: 0; }

.owl-prev {
  top: 40%;
  left: 0; }

.button-section {
  padding: 2rem 0; }
  .button-section img {
    margin: 1em 0;
    -webkit-transition: -webkit-opacity 300ms ease-out;
    -moz-transition: -moz-opacity 300ms ease-out;
    -ms-transition: -ms-opacity 300ms ease-out;
    -o-transition: -o-opacity 300ms ease-out;
    transition: opacity 300ms ease-out; }
    .button-section img:hover {
      opacity: 0.8;
      filter: alpha(opacity=40);
      /* For IE8 and earlier */ }

.sponsors {
  margin-top: 2em; }
  .sponsors li {
    -webkit-transition: -webkit-opacity 300ms ease-out;
    -moz-transition: -moz-opacity 300ms ease-out;
    -ms-transition: -ms-opacity 300ms ease-out;
    -o-transition: -o-opacity 300ms ease-out;
    transition: opacity 300ms ease-out; }
    .sponsors li:hover {
      opacity: 0.8;
      filter: alpha(opacity=40);
      /* For IE8 and earlier */ }

#footer {
  padding: 2em 0; }
  #footer h4 {
    font: 400 1.12em "Patua One", serif;
    letter-spacing: 1px;
    color: white; }
  #footer p {
    line-height: 2; }
  #footer a {
    color: white;
    border-bottom: solid 1px #104a43;
    -webkit-transition: -webkit-color 300ms ease-out;
    -moz-transition: -moz-color 300ms ease-out;
    -ms-transition: -ms-color 300ms ease-out;
    -o-transition: -o-color 300ms ease-out;
    transition: color 300ms ease-out; }
    #footer a:hover {
      color: #104a43; }
  #footer ul {
    list-style-type: none;
    margin: 0; }

.main-copy h1 {
  color: #ef4f1f;
  text-align: left; }
.main-copy h2 {
  color: #585c62;
  margin-bottom: .5em; }
.main-copy a {
  color: #22988c; }
  .main-copy a:hover {
    color: #104a43; }
.main-copy p a {
  color: #ef4f1f; }
  .main-copy p a:hover {
    color: #cc5029; }
.main-copy .stage-sponsor {
  margin-bottom: 0; }
.main-copy .panel h2 {
  color: #ef4f1f;
  letter-spacing: 2px; }
.main-copy .panel h4 {
  color: #585c62; }
.main-copy .panel p {
  color: #585c62; }

.sectionhead {
  text-align: center; }

table {
  background-color: white;
  border-bottom-color: white;
  border-bottom-width: 0px;
  border-collapse: separate;
  border-left-color: white;
  border-left-width: 0px;
  border-right-color: white;
  border-right-width: 0px;
  border-top-color: white;
  border-top-width: 0px;
  margin: 1em 0; }
  table tr td {
    vertical-align: top; }

.mytabs {
  background: white; }
  .mytabs h1 {
    text-align: center; }
  .mytabs p {
    margin-bottom: 0; }

.specials {
  text-align: center; }
  .specials .panel p {
    color: white;
    margin-bottom: .5em; }

.sponsors-page .panel {
  text-align: center;
  background-color: #585c62; }
  .sponsors-page .panel h4 {
    color: white; }
  .sponsors-page .panel img {
    max-width: 170px; }

/*# sourceMappingURL=fair.css.map */
