//fair sass file

@import url('http://fonts.googleapis.com/css?family=Patua+One');
@import url('http://fonts.googleapis.com/css?family=Sancreek');

///////// VARIABLES /////////
$lighttorquoise: #22988c;
$torquoise: #136860;
$darktorquoise: #104a43;
$orange: #ef4f1f;
$darkorange: #cc5029;
$fair-slab: 'Patua One', serif;
$fair: 'Sancreek', serif;

///////// 



h1 {
	font: 400 2.1875em $fair;
	color: $orange;
}

h2 {
	font: 400 1.875em $fair-slab;
	text-transform: uppercase;
	color: $orange;
}

h4 {
	font: 400 1.12em $fair-slab;
	letter-spacing: 1px;
}

.button.alert {
	background-color: $orange;
	&:hover {
		background-color: $darkorange;
	}
}

.main-copy {
	h1 {
		color: $orange;
	}
	a {
		color: $lighttorquoise;
		
		&:hover {
		 color: $darktorquoise;
		}
	}	
}


.sidebar .panel {
	h4 {
	font: 400 1.12em $fair-slab;
	letter-spacing: 1px;
	color: $orange;
}
	a {
		color: $lighttorquoise;
		
		&:hover {
		 color: $darktorquoise;
		}
	}	
}


.panel {
	background-color: $torquoise;
	h2 {

		color: $orange;
		letter-spacing: 2px;
	}
	h4 {
		color: white;
	}
	p {
		color: white;
	}
}

.contain-to-grid {
	background: $torquoise;

}

.top-section {
	height: 200px;
	background: 
	  linear-gradient(
      rgba( 255,255,255,0.2), 
      rgba(255,255,255,0.2)
    ),
    url(../img/bg.jpg);
	background-size:cover;
	.logo img {
		max-width: 300px;
	}
}

.top-bar-section ul li > a {
	font: 400 1em $fair-slab;
	letter-spacing: 1px;
	color:white;
	text-transform: uppercase;
}


.top-bar-section li:not(.has-form) a:not(.button){
	background: $torquoise;
}
.no-js .top-bar-section ul li:hover > a {
	background: $torquoise;
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
	background: $torquoise;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: $darktorquoise;
}
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
	background: $darktorquoise;
}



.slider {
	margin: 2em auto;
	max-width: 1200px;
	img {
		width: 100%;
		margin: 0 auto;
	}
}

.button-section {
	img {
		margin: 1em 0;
		-webkit-transition: -webkit-opacity 300ms ease-out;
		-moz-transition: -moz-opacity 300ms ease-out;
		-ms-transition: -ms-opacity 300ms ease-out;
		-o-transition: -o-opacity 300ms ease-out;
		transition: opacity 300ms ease-out;
		&:hover {
			 opacity: 0.8;
			 filter: alpha(opacity=40); /* For IE8 and earlier */
		}
	}
}
.sponsors {
	li {
		-webkit-transition: -webkit-opacity 300ms ease-out;
		-moz-transition: -moz-opacity 300ms ease-out;
		-ms-transition: -ms-opacity 300ms ease-out;
		-o-transition: -o-opacity 300ms ease-out;
		transition: opacity 300ms ease-out;
		&:hover {
			 opacity: 0.8;
			 filter: alpha(opacity=40); /* For IE8 and earlier */
		}
	}

}

#footer {
	padding: 2em 0;
	h4 {
		font: 400 1.12em $fair-slab;
		letter-spacing: 1px;
		color:white;
	}
	p {
		line-height: 2;
		}
		 a {
			  color: white;
			  border-bottom: solid 1px $darktorquoise;
			  -webkit-transition: -webkit-color 300ms ease-out;
			  -moz-transition: -moz-color 300ms ease-out;
			  -ms-transition: -ms-color 300ms ease-out;
			  -o-transition: -o-color 300ms ease-out;
			  transition: color 300ms ease-out;
			  &:hover {
				  color: $darktorquoise;
			  }


	}
	ul {
		list-style-type: none;
		margin: 0;
	}


}